body{
	margin: 0;
	padding: 0;
	font-family: "Tw cen MT";
}

.conpad{
	width: 80%;
	margin: 70px 10%;
	border-left: 2px solid #FAFAFA;
	border-right: 2px solid #FAFAFA;
}

.conpad h2{
	font-size: 26pt;
	color: #229954;
}

.condet{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.condet article{
	display: flex;
	flex-direction: column;
}

.dimmax{
	height: auto;
	width: 95%;
}

.precioUnidad{
	font-size: 32px;
	text-align: center;
	margin: 15pt 0;
}

.botcom{
	background: #27AE60;
	padding: 10px;
	border: 2px solid #27AE60;
	border-radius: 10px;
	font-size: 15pt;
	color: #FAFAFA;
	text-decoration: none;
	align-self: center;
	text-align: center;
	transition: all 0.2s;
}

.botcom:hover{
	background: #82E0AA;
	border: 2px solid #82E0AA;
	border-radius: 5px;
	cursor: pointer;
}

.botcom:active{
	background: #0B5345;
	border: 2px inset #0B5345;
}

.inform{
	font-size: 15pt;
	margin-bottom: 0; 
}

.conpad h3{
	font-size: 18pt;
	color: #229954;
}

.descript{
	font-size: 15pt;
}

@media(max-width: 800px){
	.condet{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}