body{
	padding: 0;
	margin: 0;
	font-family: "Tw Cen MT";
}

.conpad{
	margin-top: 56px;
	width: 100%;
	height: auto;
	display: grid;
}

.concab{
	background: -webkit-linear-gradient(-180deg, #3C78E7,#3CB8E7);
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
	padding: 8%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FAFAFA;
}

.mensaje{
	width: 30%;
	text-align: center;
}

h2{
	font-size: 22pt;
}

.txtcab{
	width: 50%;
	text-align: center;
	font-size: 15pt;
}

.concab .mensaje img{
	width: auto;
	height: 120px;
}

.con1{
	background: -webkit-linear-gradient(#36BD2F,#3CE744);
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 4;
	padding: 8%;
	text-align: center;
	color: #EAEDED;
}

.texto{
	font-size: 15pt;
}

.con2{
	background: #2FC6C6;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 5%;
	color: #FAFAFA;
}

.con3{
	background: #33B2D4;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	padding: 8%;
	color: #FAFAFA;
}

.con4{
	background: #336ED4;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	padding: 8%;
	color: #FAFAFA;
}

.bref1{
	padding: 10px;
	border: 2px solid #FAFAFA;
	text-decoration: none;
	color: #FAFAFA;
	font-size: 13pt;
	transition: all 0.3s;
}

.bref1:hover{
	background: #FAFAFA;
	color: #2FC6C6;
	text-decoration: none;
}

.bref1:active{
	border: 2px inset #FAFAFA;
}

.bref2{
	background: -webkit-linear-gradient(45deg, #3C87E7, #3CE7B3);
	padding: 10px;
	border: 1px solid #37D2CD;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 13pt;
	transition: all 0.3s;
}

.bref2:hover{
	border: 1px solid #3C87E7;
	text-decoration: none;
	color: #FFFFFF;
}

.bref2:active{
	border: 1px groove #3C87E7;
}

.plus{
	background: -webkit-linear-gradient(#36BD2F,#3CE744);
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
	padding: 8%;
	text-align: center;
	color: #EAEDED;
}

@media(max-width: 800px){
	.con3{
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 3;
		grid-row-end: 4;
		padding: 4%;
		color: #FAFAFA;
	}

	.con4{
		grid-column-start: 2;
		grid-column-end: 4;
		grid-row-start: 4;
		grid-row-end: 5;
		padding: 4%;
	}

	.con1{
		grid-row-end: 5;
		padding: 4%;
	}

	.con2{
		padding: 4%;
	}

	h2{
		margin: 1% 0;
	}
}

@media(max-width: 680px){
	.concab{
		flex-direction: column;
	}
	.mensaje{
		width: 100%;
	}
	.txtcab{
		width: 100%;
	}
}
@media(max-width: 500px){
	.con1{
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 3;
	}
	.con2{
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 3;
		grid-row-end: 4;
	}
	.con3{
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 4;
		grid-row-end: 5;
	}
	.con4{
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 5;
		grid-row-end: 6;
	}
	.plus{
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 2;
	}
}
